/nostarch/[012]*.tex
/nostarch/hints.tex
/nostarch/book.*
/nostarch.pdf
/pdf/[012]*.tex
/pdf/hints.tex
/pdf/book.*
/pdf/book_mobile.*
/pdf/*.log
/book.pdf
/book_mobile.pdf
/html/[012]*.html
/html/ejs.js
/code/chapter/*
/code/chapter_info.js
/code/file_server.mjs
/code/skillsharing.zip
/code/solutions/20_3_a_public_space_on_the_web.zip
/code/skillsharing/*
/node_modules
.tern-port
/toc.txt
/img/cover.xcf
/img/generated/*
/epub/[012]*.xhtml
/epub/hints.xhtml
/epub/img/*
/epub/content.opf
/epub/toc.xhtml
/book.epub
/book.mobi
