<!DOCTYPE html>
<html lang="pt-br">
<head>

    <title>{% if page.title %}{{ page.title }} :: {% endif %} {{ site.title }}</title>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="The community">
    <meta name="application-name" content="{{ site.name }}">
    <meta name="google-site-verification" content="">

    <!-- for Facebook -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} &mdash;{% endif %} {{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}">
    <meta property="og:image" content="{{ site.url }}/assets/img/fb-share.png">
    <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}blog{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} &mdash; {% endif %} {{ site.title }}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ site.url }}/assets/img/favicon.png">
    <meta name="twitter:site" content="{{ site.name }}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon.png">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">

    <!-- Sandbox -->
    <script src="{{ site.url }}/assets/js/acorn_codemirror.js" type="text/javascript"></script>
    <script src="{{ site.url }}/assets/js/sandbox.js" type="text/javascript"></script>
    <script src="{{ site.url }}/assets/js/scripts.js" type="text/javascript"></script>
</head>
<body onload="prettyPrint()">
